# Data type and conversions
   
   * integer
   * float
   * string

In [1]:
a=100
s1="python"
s2='p'
f1=10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [2]:
print("hello \n hello")

hello
 hello

In [1]:
x,y=10,20
z=x+y
print(z)

30

In [2]:
# A number is given 1234
# Digit count
a1=1234
print(len(str(a1)))

4

In [3]:
a=2
b=3
c=a**b
print(c)

8

# Reading a value -- Input function

In [2]:
s1=input("Enter your name")
print(s1)
type(s1)

Enter your name5
5

str

In [4]:
s1=int(input("Enter your name"))
print(s1)
type(s1)

Enter your name564
564

int

# Operators

* operators are used to perform operations

### Arithmetic operators

* +
* -
* /
* %
* //
* **

In [7]:
n1=7
print(7//2) # // it gives only  integer value

3

In [8]:
print(7/2)

3.5

In [10]:
n1=1234
print(n1+10)
print(n1-10)
print(n1/10)
print(n1%10)
print(n1//10)
print(2**3)
print(2*3)

1244
1224
123.4
4
123
8
6

### Precedence of the operators
* Parenthesis
* power
* Multiplication
* Addition
#### Left to right

In [11]:
x=1+2**3/4+5
print(x)

8.0

In [13]:
x=(1+2)**3/4-5
print(x)

1.75

### Relational operators

- ==
- !=
- Greater(>)
- Less than(<)
- Greater than or equal to(>=)
- Less than or equal to(<=)

In [19]:
x=5
a=x>10
print(a)

False

## Logical operators

### Used to combine more than single condition

* and
* or
* not

In [21]:
i=100
a1=(i>15) and (i<800)
a2=(i>15) and (i>800)
print(a1,a2)

True False

## Control flow statements

* conditional statements
* 

##

###  if -else ststements
#### Syntax;
* if boolean_condition:
         statement
  else:
         statement

In [23]:
# To check given number is even or odd
n=int(input('Enter a number'))
if n%2==0:
    print("even")
else :
    print("odd")

Enter a number12
even

In [29]:
# To check given number is perfectly multiple  of 3 and 5
n=int(input("Enter a number"))
if n%3==0 and n%5==0:
    print("Yes")  
else:
    print("No")

Enter a number12
No

In [27]:
# Test given number is positive