### Data structures
* dictionaries

###  Dictionaries 
- It works on the concept of set unique data
- keys,Values is the unique identifier for a value
- Each key is seperated from its values with colon(:)
- Each key and value is seperated by comma(,)
- Dictionaries enclosed with curly braces({})

In [1]:
d1={"Name":"Gitam","EmailId":"gitam@gmail.com","Address":"Hyderabad"}
print(d1)

{'Name': 'Gitam', 'EmailId': 'gitam@gmail.com', 'Address': 'Hyderabad'}

In [2]:
d1["Name"]

'Gitam'

In [5]:
d1["EmailId"]="Gitam-python@gmail.com" # update the data

In [7]:
d1["EmailId"]

'Gitam-python@gmail.com'

In [12]:
del d1["EmailId"] # Delete specific key value

KeyError: 'EmailId'

In [9]:
d1 # delete d1 will delete the entire object

{'Name': 'Gitam', 'Address': 'Hyderabad'}

In [13]:
d1.keys() # returns the list of keys

dict_keys(['Name', 'Address'])

In [14]:
d1.values() # Returns the values

dict_values(['Gitam', 'Hyderabad'])

In [15]:
d1.items() # list of tuples of keys and values

dict_items([('Name', 'Gitam'), ('Address', 'Hyderabad')])

### Tuples
- t1 parenthesis() list square brackets[]
-Differences between list and tuples
  - list are mutable -can be changed/modified
     - Used to acess modify,add,Deletedata
  - Tuples are immutable cannot be changed
    - used to access the data only

In [18]:
t1=(1,2,3,4,5,6)
t1
type(t1)

tuple

### Contact Application
* Add contact
* search the contact
* list all contacts
  * name1:phone1
  * name2:phone2
* Modify the contact
* Remove the contact
* Import the contact

In [21]:
# Add contact 
contacts={} # creating a dictionary object
def addcontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print ("Contact details are added")
    else:
        print("contact details are already existed")
    return
addcontact("Anil","9876543210")
addcontact("sameera","9553966251")
addcontact("aishwarya","9100892014")
addcontact("Anil","9876543210")

Contact details are added
Contact details are added
Contact details are added
contact details are already existed

In [22]:
contacts

{'Anil': '9876543210', 'sameera': '9553966251', 'aishwarya': '9100892014'}

In [24]:
# search for contact details
def searchcontact(name):
    if name in contacts:
        print(name,":",contacts[name])
    else:
        print("%s does not exists" % name)
    return
searchcontact("Anil")
searchcontact("Harsha")
searchcontact("aishwarya")

Anil : 9876543210
Harsha does not exists
aishwarya : 9100892014

In [28]:
# Import some contacts
# Merge the contact with existing one
def importcontact(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contacts added success")
    return
newcontacts={"Dinesh":9988774455,"Ajay":9977445566}
importcontact(newcontacts)

2 contacts added success

In [30]:
# Delete a contact
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name,"deleted sucessfully")
    else:
        print(name,"not exists")
    return
deletecontact("Ajay")

Ajay deleted sucessfully

In [31]:
# update the contacts details
def deletecontact (name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name,"Updated successfully")
    else:
        print(name,"Not exists")
    return
deletecontact("Anil",9988774455)
deletecontact("Ajay",9988665544)

Anil Updated successfully
Ajay Not exists

In [32]:
def printstrings(s1,s2):
    if 1<=len of s1,s2 <=100 :
        print

SyntaxError: invalid syntax (<ipython-input-32-67abbbc999d4>, line 2)

### Fibonacci in reverse order

In [33]:
# Python 3 Program to print Fibonacci 
# series in reverse order 
def reverseFibonacci(n): 
    a = [0] * n  
    a[0] = 0 
    a[1] = 1 
    for i in range(2, n):    
        a[i] = a[i - 2] + a[i - 1]  
    for i in range(n - 1, -1 , -1):   
        print(a[i],end=" ")  
n = 12
reverseFibonacci(n)

89 55 34 21 13 8 5 3 2 1 1 0

In [37]:
def series(n):
    a=8;b=1;
    print("1")
    c=n//2
    for i in range (1,c+1):
        for j in range(1,3):
            b=b+a
            print(b)
            a=a+8
            i=i+1
            j=j+1
    return  
series(5)

1
9
25
49
81

### String Formatting
- Classical Version
- Current Version

In [40]:
# classical version
li=["Python","Programming"]
print("%s %s"%(li[0],li[1]))

Python Programming

In [42]:
print('{0} {1}'.format(li[0],li[1]))

Python Programming

In [43]:
li1=[1,2,3,4]
print("%d %d %d %d"%(li1[0],li1[1],li1[2],li1[3]))

1 2 3 4

In [44]:
print("{0} {1} {2} {3}".format (li1[0],li1[1],li1[2],li1[3]))

1 2 3 4

### string functions
- upper() -- Will converts the given string into upper case
- lower() -- will converts the given strings into lower case

In [45]:
s1="Gitam"
print(s1.upper())
print(s1.lower())

GITAM
gitam

### Boolean function(True and False)
* islower() -- True if the string is lower case / False if the string is not in lower case
* isupper() -- True if the string is upper case / False if the string is not in upper case
* istitle() -- True if the string follows title case if not false
* isalpha() -- True if the string  contains only alphabets /false
* isnumeric() -- True if the string  contains only numbers /false
* isspace() -- True

In [47]:
s1="GITAM"
print(s1.islower())
print(s1.isupper())

False
True

In [48]:
s2="Python Programming"
s3="python programming"
print(s2.istitle())
print(s3.istitle())

True
False

In [49]:
s2="Application1889"
s3="Pythonprogramming"
print(s2.isalpha())
print(s3.isalpha())

False
True

In [50]:
s1='1234'
s2="application1234"
print(s1.isnumeric())
print(s2.isnumeric())

True
False

In [51]:
s1=" "
s2="Py th on"
print(s1.isspace())
print(s2.isspace())

True
False

### string Methods
* 1.join() -- Method will concatinates ite two strings
* 2.split() --  split() returns the list of strings seperated by whitespace(No parameters are given)
* 3.replace() -- replaces the specific word/character with new word or character

In [53]:
s1='python'
print("".join(s1))
s2="Python Programming Easy to learn"
print(",".join(s2))
s3=['python',"programming","Easy to learn"]
print(",".join(s3))

python
P,y,t,h,o,n, ,P,r,o,g,r,a,m,m,i,n,g, ,E,a,s,y, ,t,o, ,l,e,a,r,n
python,programming,Easy to learn

In [55]:
s2="Python Programming Easy to learn"
print(s2.split())

['Python', 'Programming', 'Easy', 'to', 'learn']

In [56]:
s2="Python Programming Easy to learn"
print(s2.split('a'))

['Python Progr', 'mming E', 'sy to le', 'rn']

In [57]:
s2="Python Programming Easy to learn"
li=s2.split() # split the string - - list object
print(li)
print(len(li))

['Python', 'Programming', 'Easy', 'to', 'learn']
5

In [58]:
s2="Python Programming Easy to learn"
li=list(s2)
print(li)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'E', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [59]:
s2="Python Programming Easy to learn"
print(s2.replace("gra","Application"))

Python ProApplicationmming Easy to learn

###  Series Generations:-  1, 3, 9, 27, 81, ...

In [63]:
# Series Generations:- 1, 3, 9, 27, 81, ...
def printGP(a, r, n): 
    for i in range(0, n): 
        curr_term = a * pow(r, i) 
        print(curr_term, end =" ")
a=1
r=3
n=10
printGP(a, r, n)

1 3 9 27 81 243 729 2187 6561 19683

### Series Generations:-  1, 2, 4, 8, 16, 32, 64, 128, 256, ...

In [64]:
# series Generations:-
def printGP(a, r, n): 
    for i in range(0, n): 
        curr_term = a * pow(r, i) 
        print(curr_term, end =" ")
a=1
r=2
n=10
printGP(a, r, n)

1 2 4 8 16 32 64 128 256 512

###  Series Generations:-  1! + 2! + 3! + 4! + 5! + ... + n!

In [65]:
#individual digits factorial sum
def sum(n):
    for i in range(1,n+1):
        fact=1
        if i<=n:
            print(i,end="!+")
    return 
sum(8)

1!+2!+3!+4!+5!+6!+7!+8!+

In [69]:

s=0
m=5
for i in range(1,m+1):
    p=1
    for k in range(1,i+1):
        p=p*k
    s=s+p
print (s)

153

###  Packages and modules
**Packages**<br>
  - A collection of modules (single python file .py) and sub packages<br>
**Modules**<br>
 - A single python file containing set functions <br>
**Packages-->Sub packages-->Modules-->Functions-->statements**

In [2]:
# Import the externals packages to python files
import math
math.floor(123.45)

123

In [3]:
from math import factorial as fact
fact(5)

120

In [4]:
from math import gcd as gcd
gcd(10,15)

5

In [7]:
#Function to generate N random numbers in  given range
import random
def randomnumbers(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
randomnumbers(10,0,100)

92 86 94 4 13 84 79 85 84 33

In [1]:
# create a simple game
# Generate 20 random numbers 0 t0 500
def generatenumbers(n,lb,ub):
    li=[]
    fori in range (0,n)
    li.append(random.randint(lb,ub))
    return li
def check(n):
    if n in li:
        return "congrats!!!"
    else:
        return "Try once again!!!"
generatenumbers(20,0,200)    
check(175)

NameError: name 'fori' is not defined

###  Your Program need to accept two strings and generate the output in merging of both strings.

In [ ]:
s1=("abcd")
s2=("defg")
for i in  range(len(s1)):
    print(s1[i],s2[i],end="")

In [2]:
def Q2(n):
    a=[]
    s=0
    for i in range(n):
        a.append(int(input()))
    for i in range(n):
        c=0
        for j in range(n):
            if i!=j:
                if a[i]==a[j]:
                    c+=1
        if c==0:
            s=s+a[i]
    return s
Q2(int(input("no of values")))

no of values4
123
23
46
46

146

In [3]:
def Q3(a,b):
    if len(a)<=len(b):
        n=len(a)
        k=len(b)
    else:
        n=len(b)
        k=len(a)
    for i in range(n):
        print(a[i],b[i])
    for j in range(n,k):
        if(len(a)<=len(b)):
            print('*',b[j])
        else:
            print('*',a[j])
    return
a=str(input("enter str:"))
a=a.split()
b=str(input("enter str:"))
b=b.split()
Q3(a[0],b[0])

enter str:abcd
enter str:xyz
a x
b y
c z
* d

In [4]:
def Q7(n):
    for i in range(len(n)):
        n[i]=int(n[i])
    for i in range(len(n)):
        for j in range(n[i]):
            print("*",end="")
        print("")
    return
x=input("enter num")
Q7(list(x))

enter num4563
****
*****
******
***

In [7]:
def Q4(a,b):
    if len(a)>=len(b):
        print(a.upper())
    else:
        print(b.upper())
    return
x=str(input("enter str:"))
x=x.split()
Q4(x[0],x[1])

enter str:Good Morning
MORNING